<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <section id="section">
            <img src="<%= data.badge%>">
            <img src="<%= data.logo %>">
            <p><%= data.team %></p>
            <p><%= data.formed%></p>
            <p><%= data.sport%></p>
            <p><%= data.league %></p>
            <p><%= data.stadium%></p>
            <img src="<%= data.stadiumImg%>">
            <p><%= data.stadiumLocation%></p>
            <a href="http://<%=data.website%>" target="_blank"> <%= data.team %> Website </a>
            <p><%= data.teamDescription%></p>
            <img src="<%= data.clothes%>">
        </section>

</body>
</html>