<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Search</title>
    <link rel="shortcut icon" href="https://www.flaticon.com/premium-icon/icons/svg/2706/2706805.svg" />
</head>
<body>
    <header>
        
    </header>
    <main>
        <% teamSearch.forEach(result => { %>
            <section id="section">
                <img src="<%= result.badge%>">
                <img src="<%= result.logo %>">
                <p><%= result.team %></p>
                <p><%= result.formed%></p>
                <p><%= result.sport%></p>
                <p><%= result.league %></p>
                <p><%= result.stadium%></p>
                <img src="<%= result.stadiumImg%>">
                <p><%= result.stadiumLocation%></p>
                <a href="http://<%=result.website%>" target="_blank"> <%= result.team %> Website </a>
                <p><%= result.teamDescription%></p>
                <img src="<%= result.clothes%>">
            </section>
            <% }) %>
    </main>
    <footer>

    </footer>
</body>
</html>