<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head') %>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/861/861512.svg" />
</head>

<body>
    <header style="background-image: url(../../public/img/new.jpg);background-repeat: no-repeat;background-size: cover;">
        <%- include ('../layout/header') %>
    </header>
    <main id="showMain">
        <div class="container-p">
            <h4 class="ml15">
                <span class="word">shoot-</span>
                <span class="word">ha</span>
              </h4>
              <p class="ml16 main-description top-left">The site provides you with video highlights, and other football team information.</p>
        </div>
        


        <!-- slide-show -->
        <ul id="slides">
            <li class="slide showing">
            </li>
            <li class="slide"></li>
            <li class="slide"> </li>
            <li class="slide"></li>
            <li class="slide"> </li>
        </ul>
        <% teamRender.forEach(result => { %>
        <div id="container">
        <img src="<%- result.thumbnail %>" class="rendered-img">
        <p class="from-render"><%- result.title %></p>
        <button value="<%= result.id %>" id="home-button">Show Details</button>
        <section class="<%= result.id %>" style="display: none;"><%- result.embed %></section>
        <% }) %>
        </div>
    </main>

    <footer>
        <%- include ('../layout/footer') %>

    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
    function myFunction() {
        var x = document.getElementById('myLinks');
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
    // for slide-show

    var slides = document.querySelectorAll('#slides .slide');
    var currentSlide = 0;
    var slideInterval = setInterval(nextSlide, 4000);
    function nextSlide() {
        slides[currentSlide].className = 'slide';
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide].className = 'slide showing';
    }

    $(document).ready(function () {
        $("button").click(function () {
            let $class = $(this).attr('value');
            console.log($class);
            $(`.${$class}`).toggle();
        });
    })

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
    anime.timeline({loop: false})
  .add({
    targets: '.ml15 .word',
    scale: [14,1],
    opacity: [0,1],
    easing: "easeOutCirc",
    duration: 800,
    delay: (el, i) => 800 * i
  });

</script>
<script>
    // Wrap every letter in a span
var textWrapper = document.querySelector('.ml16');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: false})
  .add({
    targets: '.ml16 .letter',
    translateY: [-100,0],
    easing: "easeOutExpo",
    duration: 2000,
    delay: (el, i) => 30 * i
  });
</script>
</html>